:host {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.a-pictogram {
  width: 100%;
  height: 100%;
  stroke-width: 0.6px;
  stroke-linejoin: round;

  polygon {
    vector-effect: non-scaling-stroke;
  }
}
